In [1]:
import pandas as pd

# Lee el archivo XLSX
df = pd.read_excel('../input/poblacion.xlsx')

# Guarda el DataFrame en un archivo CSV con codificación UTF-8
df.to_csv('../output/poblacion.csv', index=False, encoding='utf-8')

In [2]:
df1 = pd.read_csv("../output/poblacion.csv")

In [3]:
df1

,Provincia,Cantón,Total,Hombres,Mujeres
0,Azuay,Cuenca,596101,281823,281823
1,Azuay,Girón,12182,5532,5532
2,Azuay,Gualaceo,43188,19421,19421
3,Azuay,Nabón,14776,6729,6729
4,Azuay,Paute,26782,12201,12201
...,...,...,...,...,...
239,Santo Domingo de los Tsáchilas,La Concordia,51386,25108,25108
240,Santa Elena,Total Santa Elena,385735,191303,191303
241,Santa Elena,Santa Elena,186687,93101,93101
242,Santa Elena,La Libertad,112247,54865,54865
243,Santa Elena,Salinas,86801,43337,43337